@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Patrick Hand', 'cursive', system-ui, sans-serif;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar ul li {
    margin-right: 10px;
  }

  .navbar ul li a {
    color: #383838;
    text-decoration: none;
  }
}

